@import '../../styles/styles.scss';

.home-row-container {
    gap: 0.75rem;

    button {
        border: none;
        background-color: transparent;
        padding: 0;
    }

    svg {
        width: 20px;
        height: auto;
        margin: 0.6rem;

        path {
            fill: $icon-color;
        }
    }

    .img-container {
        padding: 4px;

        img {
            width: 70px;
            height: 70px;
            border: 1px solid black;
            border-radius: 2px;
        }
    }

    .home-page-name-date {
        width: 40%;

        .home-page-name {
        }

        .home-page-date {
        }
    }

    .home-status {
        margin: 0 auto;
    }

    .home-page-count {
        color: $secondaryText;
        text-align: right;
        margin-right: 0.6rem;
    }

    .home-page-icons {
        display: flex;

        .home-page-play {
            width: 1.75rem;
            margin-right: 0.3rem;
        }
    }
}
