.side-section-modal-container {
    // min-width: 100%;
    // min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;

    background-color: rgba(38, 39, 59, 0.8);
    z-index: 1300;
    .overall-modal {
        top: 0;
        width: 100%;
        height: 100%;
        // left: 0;
    }

    .side-section-layout {
        z-index: 999;
        background-color: #fff;
        height: 100%;
        max-width: 375px;
        width: 85%;
        position: fixed;
        top: 0;
        left: 0;
        .side-section-container {
            // width: 100%;
        }
    }
}
