@import '../../styles/styles.scss';

.side-navigator-layout {
  background-color: #fff;
  height: 100%;
  max-width: 265px;
  width: 55%;
  position: fixed;
  top: 56px;
  // left: 0;
  left: -100%; /* Hide it initially off-screen */
  transition: left 0.3s ease; /* <--- UPDATED: Added transition for smooth sliding */

  border-top: $sideRowBorder;
  border-right: $sideRowBorder;
  color: $primaryText;
  &.visible {
    left: 0; /* When toggled, slide it into view */
  }

  .side-navigator-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;

    .side-navigator-links {
      flex-grow: 1;
      // border-bottom: $rowBorder;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          border-bottom: $sideRowBorder;
          position: relative;
          .active {
            background-color: $navigatorlinkColor;
            color: $linklabelColorHover;
          }

          &.subplan {
            display: flex;
            .active {
              background-color: #4dc5d4 !important;
              color: $linklabelColorHover;
            }
            .subplan-link {
              padding: 0.1rem 1rem; // Add some padding for visual appearance and touch targets
              font-size: 0.8rem;
              flex-grow: 1;
              &:active {
                background-color: #4dc5d4 !important;
              }
            }
          }
          span {
            position: absolute;
            right: 1rem;
          }
        }
      }

      a {
        display: block; // Make links fill the li for a larger click area
        padding: 0.5rem 1rem; // Add some padding for visual appearance and touch targets

        text-decoration: none;
        color: $primaryText;
        &.plan-link:hover,
        &.plan-link:focus {
          background-color: $navigatorlinkColor; // Choose a light color for hover/focus
          color: $linklabelColorHover; // Optionally change text color on hover/focus
        }

        &.plan-link:active {
          background-color: $navigatorlinkColor;
        }
      }
    }
  }
}

.leftBox {
  width: 2rem;
  height: auto;
  background-color: #4dc5d4;
}

/* Hide the SideNavigator and show toggle button only on mobile */
@media (max-width: 1200px) {
  .side-navigator-layout {
    display: none; /* Hide the sidebar by default */
    width: 80%;
    max-width: 80%;
    z-index: 9999;
  }

  .side-navigator-layout.visible {
    display: block; /* Show the side navigator when toggled */
    left: 0; /* Move the side navigator into view */
  }
}
