@import '../../../styles/styles.scss';
.photo-scans {
  button {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  svg {
    width: 20px;
    height: auto;
    margin: 0.6rem;

    path {
      fill: $icon-color;
    }
  }

  /* Hide the default file input */
  input[type='file'] {
    display: none;
  }

  /* Style the label to look like a button or icon */
  label.upload-label {
    cursor: pointer;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    svg {
      width: 30px;
      height: auto;
    }
    /* Add additional styles as needed */
  }
}
