.img-viewer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.img-viewer::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #fff;
  filter: blur(20px);
  z-index: 0;
}

.img-viewer__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.img-viewer__loading {
  position: absolute;
  z-index: 3; /* Increase z-index to be above the overlay */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* Apply blur to image when loading */
.img-viewer.loading .img-viewer__image {
  filter: blur(5px);
}

/* Add semi-transparent overlay when loading */
.img-viewer.loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}
