/* Hide the default file input */
input[type='file'] {
  display: none;
}

/* Style the label to look like a button or icon */
label.upload-label {
  cursor: pointer;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  svg {
    width: 30px;
    height: auto;
  }
  /* Add additional styles as needed */
}
