.attachment-btn {
  height: 2rem;
  width: auto;
  border: none;
  background-color: transparent;
}

.dropdown-width {
  width: 16rem;
  .dropdown-button {
    background-color: #fff;
  }
}
.tags-container {
  max-width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  max-width: fit-content;
}
.price-quote {
  max-width: 100px;
}

.pdf-container {
  min-height: fit-content;
  height: fit-content;
  width: 100%;
  flex-grow: 1;
}
