.topContainerClassName {
    position: fixed;
    z-index: 15;
    bottom: 1.5rem;
    height: 1.5rem;
    max-height: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    // display: flex;
    // justify-content: center;
}
