@import '../../styles/styles.scss';

.topContainerClassName {
    position: fixed;
    z-index: 15;
    bottom: 1.5rem;
    height: 1.5rem;
    max-height: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    // display: flex;
    // justify-content: center;
}

.admin-page-icons {
    button {
        border: none;
        background-color: transparent;
        padding: 0;
    }
    svg {
        width: 20px;
        height: auto;
        margin: 0.2rem;

        path {
            fill: $icon-color;
        }
    }
    .admin-plus {
        stroke: transparent;
        fill: $icon-color;
    }

    .home-page-play {
        width: 1.75rem;
        margin-right: 0.3rem;
    }
}
